<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style_header.css' />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/ae360af17e.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/sidebar.css">
</head>

<body>
  <div class="wrapper">
    <%- include('../inc/sidebar') %>
      <div class="main">
        <%- include('../inc/header') %>
          <div class="content col-md-10 sm-10" style="overflow: auto; height: 80vh">
            <div class="container">
              <div class="card mb-3">
                <div class="card-header">
                  <strong>ID bảo hành:</strong>
                  <%= baoHanh._id %>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <img src="<%= sanPham.anhSanPham %>" alt="Ảnh sản phẩm" class="img-fluid mb-3" style="width: 250px;">
                      <h5 class="card-title">
                        <%= sanPham.tenSanPham %>
                      </h5>
                      <% const idBienTheDonHang=donhang.idBienThe.toString(); %>
                        <% sanPham.bienThe.forEach(variant=> { %>
                          <% if (variant._id.toString()===idBienTheDonHang) { %>
                            <% tienSanPham=variant.giaTien; %>
                              <p class="card-text"><strong>Giá sản phẩm:</strong>
                                <span class="text-danger fw-bold total-cell">
                                  <%= variant.giaTien %>
                                </span>
                              </p>

                              <p class="card-text"><strong>Cấu hình:</strong>
                                RAM: <%= variant.ram %>, ROM: <%= variant.rom %>
                              </p>
                              <% } %>
                                <% }); %>
                                <p class="card-text"><strong>Imei:</strong>
                                  <%= baoHanh.imei %>
                                </p>
                                <h5 class="card-title">Thông tin khách hàng</h5>
                      <p class="card-text">
                        <strong>Tên:</strong>
                        <% if(account && account.hoTen) { %>
                          <%= account.hoTen %>
                            <% } else { %>
                              <%= account.taiKhoan %>
                              <% } %>
                      </p>
                      <p class="card-text">
                        <strong>Địa chỉ:</strong>
                        <% if(account && account.diaChi) { %>
                          <%= account.diaChi.diaChi %>
                            <% } else { %>
                              Chưa có dữ liệu
                              <% } %>
                      </p>
                      <p class="card-text">
                        <strong>Số điện thoại:</strong>
                        <% if(account && account.sdt) { %>
                          <%= account.sdt %>
                            <% } else { %>
                              Chưa có dữ liệu
                              <% } %>
                      </p>
                    </div>
                    
                    <div class="col-md-6">
                      <h5 class="card-title">Thông tin bảo hành</h5>
                      <p class="card-text"><strong>Id đơn hàng:</strong>
                        <%= donhang._id %>
                      </p>
                      <p class="card-text"><strong>Lý do:</strong>
                        <%= baoHanh.lyDo %>
                      </p>
                      <strong class="card-title">Ảnh bảo hành: </strong>
                      <% if (baoHanh.anh && baoHanh.anh.length> 0) { %>
                        <div class="row">
                          <% baoHanh.anh.forEach((anh, index)=> { %>
                            <div class="col-md-6 mb-3">
                              <img src="<%= anh %>" alt="Ảnh bảo hành <%= index + 1 %>" class="img-fluid" style="width: 130px; height: 130px;">
                            </div>
                            <% }); %>
                        </div>
                        <% } else { %>
                          <p class="card-text">Không có ảnh bảo hành.</p>
                          <% } %>
                            <p class="card-text"><strong>Trạng thái:</strong>
                              <% switch (baoHanh.tinhTrang) { case 1: %>
                                Chờ xác nhận
                                <% break; case 2: %>
                                  Đồng ý
                                  <% break; case 3: %>
                                    Từ chối
                                    <% break; default: %>
                                      Chờ xác nhận
                                      <% break; } %>
                            </p>
                            <% if(baoHanh.tinhTrang==1){%>
                              <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                data-bs-target="#confirmModal">Đồng ý</button>
                              <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#rejectModal">Từ chối</button>
                              <% }%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%- include('../inc/footer') %>
      </div>

      <!-- Confirm Modal -->
      <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="confirmModalLabel">Xác nhận đồng ý</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/bao-hanh/chi-tiet/<%= baoHanh._id %>?status=2" method="POST">
              <div class="modal-body">
                <p>Bạn có chắc chắn muốn đồng ý với yêu cầu bảo hành này không?</p>
                <div class="mb-3">
                  <label for="feedbackInput" class="form-label">Phản hồi:</label>
                  <textarea class="form-control" id="lyDoTuChoi" name="lyDoTuChoi" rows="2"></textarea>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="submit" class="btn btn-success">Đồng ý</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Reject Modal -->
      <div class="modal fade" id="rejectModal" tabindex="-1" aria-labelledby="rejectModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="rejectModalLabel">Xác nhận từ chối</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/bao-hanh/chi-tiet/<%= baoHanh._id %>?status=3" method="POST">
              <div class="modal-body">
                <p>Bạn có chắc chắn muốn từ chối yêu cầu bảo hành này không?</p>
                <div class="mb-3">
                  <label for="feedbackInput" class="form-label">Phản hồi:</label>
                  <textarea class="form-control" id="lyDoTuChoi" name="lyDoTuChoi" rows="2"></textarea>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="submit" class="btn btn-danger">Từ chối</button>
              </div>
            </form>
          </div>
        </div>
      </div>

  </div>





</body>

</html>