<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../stylesheets/style_header.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- ////// css sidebar ////////// -->
    <script src="https://kit.fontawesome.com/ae360af17e.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../stylesheets/sidebar.css">
    <style>
        .tb1 {
            width: 100%;
            font-size: 100%;
            padding: 5px;
        }
        
        .tb2 {
            width: 100%;
            font-size: 80%;
            padding: 5px;
        }
        
        th {
            border: 1px solid rgb(229, 218, 218);
            border-bottom: 2px solid;
            text-align: center;
        }
        
        .th2 {
            border: none;
            text-align: center;
        }
        
        .th2 img {
            width: 30px;
            height: 30px;
        }
        
        td {
            border: 1px solid rgb(229, 218, 218);
            text-align: center;
            align-items: center;
        }
        
        .anh {
            width: 10%;
            height: 30px;
        }
        .img1 {
            width: 100%;
            height: 20%;
            margin: auto;
            max-width: 100%;
            max-height: 50px;
           padding: 2%;
        }
        
        tr {
            margin-top: 10px;
        }
        .hang:hover {
            background-color: rgb(243, 241, 241);
            text-decoration: underline;
        }
        
        #searchForm {
            margin: 20px auto;
        }
        .modal-body{
            display: flex;
            flex-direction: column;
           width: 100%;
        }
        /* .modal-body input{
            width: 100%;
            height: 50px;
            margin: 20px auto;
        } */
        .preview{
            padding: 30px;
        }
        .add{
            float: right;
            width: 10%;
            margin: 10px 15px;
            text-align: center;
            font-size: 100%;
            min-width: 70px;
        }
        .top{
            display: flex;
            align-items: center;
        }
        .top #searchForm{
            width: 100%;
            margin: auto;
        }
        .top #form2{
            width: 100%;
            margin: auto;
        }
        .input-group, .form-check{
            margin-top: 5%;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <%- include('../inc/sidebar') %>
        <div class="main">
            <%- include('../inc/header') %>
            <div class="content col-md-10 sm-10" style="overflow: auto; height: 80vh;">
                <div class="top">
                <form id="searchForm" action="/khuyen-mai/search" method="GET">
                    <div class="row g-3">
                        <div class="col">
                            <input required="true" type="text" id="textQuery" name="query" class="form-control" placeholder="Id Khuyen mai">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">Tìm</button>
                        </div>
                        <div class="col-auto">
                            <button type="button" id="clear" class="btn btn-secondary">Clear</button>
                        </div>
                        <div class="col-auto">
                            <a href="/khuyen-mai" id="clear" class="btn btn-secondary">All</a>
                        </div>
                    </div>
                </form>
                <div>
                    <button  type="button" class="add btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Thêm
                    </button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-xl">
                        <div class="form2 modal-content">
                            <form id="form2" method="post" action="/khuyen-mai/addKhuyenMai" enctype="multipart/form-data">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm Khuyến Mại</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="input-group ">
                                        <span class="input-group-text" id="inputGroup-sizing-lg">Thời gian bắt đầu</span>
                                        <input required="true" name="thoiGianBatDau" type="datetime-local" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                                      </div>
                                      <div class="input-group ">
                                        <span class="input-group-text" id="inputGroup-sizing-lg">Thời gian kết thúc</span>
                                        <input required="true" name="thoiGianKetThuc" type="datetime-local" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                                      </div>
                                      <div class="input-group ">
                                        <span class="input-group-text" id="inputGroup-sizing-lg">Code</span>
                                        <input required="true" name="code" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                                      </div>
                                      <div class="input-group ">
                                        <span class="input-group-text" id="inputGroup-sizing-lg">Số tiền</span>
                                        <input required="true" name="soTienGiam" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                                      </div>
                                      <div class="input-group ">
                                        <span class="input-group-text" id="inputGroup-sizing-lg">Mô Tả</span>
                                        <input required="true" name="moTa" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                                      </div>
                                      <div class="input-group ">
                                        <span class="input-group-text" id="inputGroup-sizing-lg">Số Lượng</span>
                                        <input required="true" name="soLuong" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                                      </div>
                                      <div class="input-group ">
                                        <select id="trangThai" name="trangThai" class="form-select">
                                            <option value="False">Trạng thái</option>
                                            <option value="False">False</option>
                                            <option value="True">True</option>
                                        </select>
                                      </div>
                                      <div class="input-group ">
                                        <input type="file" name="file" id="logoInput" accept="image/*" required="true">
                                      </div>
                                </div>
                                <div class="modal-footer">
                                    <a type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</a>
                                    <button type="submit" class="btn btn-primary">Lưu</button>
                                </div>
                            </form>
                            <div class="preview">
                                <h5>Ảnh xem trước</h5>
                                <img id="logoPreview" src="#" style="max-width: 100%; max-height: 200px;">
                            </div>
                        </div>
                        </div>
                    </div>    
                </div>
            </div>
                <table class="tb1 table table-bordered table-hover mt-3">
                    <tr>
                        <th class="stt">STT</th>
                        <th class="id">ID</th>
                        <th class="anh">Ảnh</th>
                        <th class="sotien">Số tiền Giảm</th>
                        <th class="trangThai">Trạng Thái</th>
                        <th class="hanhDong">Hành Động</th>
                    </tr>
                    <% listKhuyenMai.forEach((khuyenMai, index) => { %>
                    <tr class="hang">
                        <td><%= index + 1 %></td>
                        <td><%= khuyenMai._id %></td>
                        <td><img class="img1" src="<%= khuyenMai.anh %>" alt=""></td>
                        <td style="color: red; font-size: 80%; font-weight: bold;"><%= khuyenMai.soTienGiam.toLocaleString() %>₫</td>
                        <td <% if (khuyenMai.trangThai === true) { %> style="color: black;" <% } else { %> style="color: red;" <% } %>><%= khuyenMai.trangThai %></td>
                        <td>
                                <button class=" btn btn-danger" data-bs-toggle="modal" data-bs-target="#update<%= index %>">
                                       Chi tiết
                                </button>
                                    <div class="modal fade" id="update<%= index %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-xl">
                                        <div class="form2 modal-content">
                                            <form id="form2" method="post" action="/khuyen-mai/update/<%= khuyenMai._id %>" enctype="multipart/form-data">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">ID khuyến mại: <%= khuyenMai._id %></h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="input-group ">
                                                        <span class="input-group-text" id="inputGroup-sizing-lg">Thời gian bắt đầu</span>
                                                        <input value="<%= khuyenMai.thoiGianBatDau.toISOString().slice(0, 19)%>" required="true" name="thoiGianBatDau" type="datetime-local" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                                                      </div>
                                                      <div class="input-group ">
                                                        <span class="input-group-text" id="inputGroup-sizing-lg">Thời gian kết thúc</span>
                                                        <input value="<%= khuyenMai.thoiGianKetThuc.toISOString().slice(0, 19)%>" required="true" name="thoiGianKetThuc" type="datetime-local" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                                                      </div>
                                                      <div class="input-group ">
                                                        <span class="input-group-text" id="inputGroup-sizing-lg">Code</span>
                                                        <input value="<%= khuyenMai.code %>" required="true" name="code" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                                                      </div>
                                                      <div class="input-group ">
                                                        <span class="input-group-text" id="inputGroup-sizing-lg">Số tiền</span>
                                                        <input value="<%= khuyenMai.soTienGiam %>" required="true" name="soTienGiam" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                                                      </div>
                                                      <div class="input-group ">
                                                        <span class="input-group-text" id="inputGroup-sizing-lg">Mô Tả</span>
                                                        <input value="<%= khuyenMai.moTa %>" required="true" name="moTa" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                                                      </div>
                                                      <div class="input-group ">
                                                        <span class="input-group-text" id="inputGroup-sizing-lg">Số Lượng</span>
                                                        <input value="<%= khuyenMai.soLuong%>" required="true" name="soLuong" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                                                      </div>
                                                      <div class="input-group">
                                                        <select id="trangThai" name="trangThai" class="form-select">
                                                            <option value="False">Trạng thái</option>
                                                            <option value="False" <% if (khuyenMai.trangThai !== true) { %> selected <% } %>>False</option>
                                                            <option value="True" <% if (khuyenMai.trangThai === true) { %> selected <% } %>>True</option>
                                                        </select>
                                                    </div>
                                                    <div class="input-group">
                                                        <img class="" src="<%= khuyenMai.anh %>" alt="" style="width: auto; height: auto; max-width: 80%; max-height: 40vh;"  >
                                                    </div>
                                                    <div class="input-group">
                                                        <input type="file" name="file" id="logoInput" accept="image/*" >
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <a type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</a>
                                                    <button type="submit" class="btn btn-primary">Lưu</button>
                                                </div>
                                            </form>
                                        </div>
                                        </div>
                                    </div>
                        </td>
                    </tr>
                    <% }) %>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                      <li class="page-item"><a class="page-link" href="/khuyen-mai">1</a></li>
                      <li class="page-item"><a class="page-link" href="/khuyen-mai">2</a></li>
                      <li class="page-item"><a class="page-link" href="/khuyen-mai">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
            </div>
            <%- include('../inc/footer') %>
          </div>
    </div>




<script>
   document.getElementById("clear").addEventListener("click", function(){
        document.getElementById("textQuery").value = "";
    })
    const logoInput = document.getElementById('logoInput');
        const logoPreview = document.getElementById('logoPreview');

        logoInput.addEventListener('change', function () {
            const file = this.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    logoPreview.src = e.target.result;
                };
                reader.readAsDataURL(file);
            }
        });
</script>

    
</body>
</html>
